<!DOCTYPE html>
<header th:include="fragments/header :: header"></header>
<nav th:fragment="navigation" class="navbar navbar-expand-lg navbar-dark bg-dark">
<div class="container">
    <a class="navbar-brand" href="/">Dream Job</a>
</div>
</nav>
<body>
<div class="container">
    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <th><h3>Проект job4j_dreamjob</h3></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><h4><a href="/">Главная</a></h4></td>
            </tr>
            <tr>
                <td><h4><a th:href="@{/vacancies}">Вакансии</a></h4></td>
            </tr>
            <tr>
                <td><h4><a th:href="@{/candidates}">Кандидаты</a></h4></td>
            </tr>
            <tr>
                <td><h4><a th:href="@{/vacancies/create}">Создать вакансию</a></h4></td>
            </tr>
            <tr>
                <td><h4><a th:href="@{/candidates/create}">Создать резюме</a></h4></td>
            </tr>
            </tbody>
        </table>
    </div>
    <footer th:include="fragments/footer :: footer"></footer>
</div>
</body>
